@import "../../../../../../../node_modules/primeflex/primeflex.css";

.cat {
  min-width: 10rem;
}

.selected {
  background-color: var(--primary-50);
  border-color: var(--primary-500);
  border-width: 2px;

  span {
    color: var(--primary-500);
  }
}
