<div class="card-without-padding order-summary table-details align-items-center hidden md:flex md:flex-column">
  <div class="flex flex-column w-full">

    <div class="flex flex-column w-full p-4">
        <span>
          Mesa
        </span>

      <div class="flex flex-row gap-3 align-items-center justify-content-between">
          <span class="font-bold text-xl">
            {{ selectedTable()?.name }}
          </span>

        <!-- Close button -->
        <button
          pButton
          class="p-button-rounded p-button-text"
          icon="pi pi-times"
        >
        </button>
      </div>
    </div>

    <p-divider styleClass="w-full m-0" />

    <div class="flex flex-column p-4">
      <input
        pInputText
        placeholder="Nombre del cliente"
        class="w-full"
      />

      <div class="flex flex-row gap-2 w-full">
        <p-dropdown
          [options]="bills()"
          [disabled]="selectedTable() === null"
          [ngModel]="selectedBill"
          placeholder="Elige una cuenta"
          optionLabel="name"
          (onChange)="onSelectBill($event.value)"
          dataKey="billId"
          styleClass="w-full"
          class="w-full mt-3"
        >
        </p-dropdown>

        <!-- New Bill button -->
        <button
          pButton
          pRipple
          icon="pi pi-plus"
          class="max-w-30rem mt-3 pointer-events-auto"
          [pTooltip]="!selectedTable() ? 'Seleccione una mesa' : 'Crear cuenta'"
          tooltipPosition="left"
          [disabled]="!selectedTable()"
          (click)="openCreateBillDialog()"
        ></button>

        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="max-w-30rem mt-3 pointer-events-auto"
          [pTooltip]="!selectedBill() ? 'Seleccione una cuenta para editar' : 'Editar cuenta'"
          tooltipPosition="left"
          [disabled]="!selectedBill()"
          (click)="openEditBillDialog()"
        ></button>
      </div>
    </div>

    <p-divider
      styleClass="w-full m-0 bg-blue-700"
    />

    <p-scrollPanel
      styleClass="w-full"
      class="w-full products-container"
    >
      <div class="flex flex-column gap-3 w-full">
        <ng-container
          *ngFor="let product of productsInOrder()"
        >
          <menu-order-card
            [product]="product"
          />
        </ng-container>
      </div>
    </p-scrollPanel>

    <p-divider
      styleClass="w-full m-0"
    />

    <div class="flex flex-column gap-2 w-full p-4">
      <div class="flex justify-content-between">
        <span>Subtotal:</span>
        <span>{{ totalInSelectedBill() | currency }}</span>
      </div>
      <div class="flex justify-content-between">
        <span>Total:</span>
        <span class="font-bold text-xl">{{ totalOrder() | currency }}</span>
      </div>
      <button
        [disabled]="!selectedTable() || !selectedBill()"
        [pTooltip]="!selectedTable() || !selectedBill() ? 'Selecciona una mesa y una cuenta' : ''"
        pButton pRipple label="Enviar Orden" class="w-full pointer-events-auto"></button>
    </div>
  </div>
</div>
