<!-- Header -->
<div class="flex flex-column gap-3 align-items-center justify-content-between bg-gray-50 p-2 md:flex-row w-full">
  <span class="text-2xl font-bold text-color-secondary">
    Gestion de mesas
  </span>
  <div class="flex justify-content-between align-items-center gap-3 flex-column md:flex-row">
    <button
      pButton
      label="Crear mesa"
      icon="pi pi-plus"
      class="p-button-primary w-full"
      (click)="showDialog()"
    ></button>

    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Buscar mesa..."  (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
    </span>
  </div>
</div>

<p-table
  #dt
  [value]="tables"
  styleClass="p-datatable-striped"
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - 200px)'"
  [paginator]="true"
  [rows]="5"
  [globalFilterFields]="['name', 'customers', 'user.username', 'area.name', 'tableStatus.name']"
  responsiveLayout="stack"
  [expandedRowKeys]="expandedRows"
  dataKey="tableId"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 8%">

      </th>
      <th style="width: 15%">
        <div class="flex align-items-center">
          Nombre
          <p-columnFilter type="text" field="name" display="menu"/>
        </div>
      </th>
      <th style="width: 15%">
        <div class="flex align-items-center">
          Autorizado por
          <p-columnFilter type="numeric" field="customers" display="menu"/>
        </div>
      </th>
      <th style="width: 10%">
        <div class="flex align-items-center">
          Total
          <p-columnFilter type="numeric" field="customers" display="menu"/>
        </div>
      </th>
      <th style="width: 15%">
        <div class="flex align-items-center">
          Mesero
          <p-columnFilter field="user.userId" matchMode="in" display="menu" [showMatchModes]="false"
                          [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [showHeader]="false" [ngModel]="value" [options]="waiters" placeholder="Cualquiera"
                             (onChange)="filter($event.value)" optionLabel="username" optionValue="userId">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ option.username }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th style="width: 10%">
        <div class="flex align-items-center">
          Area
          <p-columnFilter field="area.areaId" matchMode="in" display="menu" [showMatchModes]="false"
                          [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [showHeader]="false" [ngModel]="value" [options]="areas" placeholder="Cualquiera"
                             (onChange)="filter($event.value)" optionLabel="name" optionValue="areaId">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ option.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th style="width: 15%">
        <div class="flex align-items-center">
          Estado
          <p-columnFilter field="tableStatus.tableStatusId" matchMode="in" display="menu" [showMatchModes]="false"
                          [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [showHeader]="false" [ngModel]="value" [options]="tableStatuses" placeholder="Cualquiera"
                             (onChange)="filter($event.value)" optionLabel="name" optionValue="tableStatusId">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ option.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th style="width: 17%">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-table let-expanded="expanded">
    <tr>
      <td>
        <p-button type="button" pRipple [pRowToggler]="table" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
      </td>
      <td>
        <span class="p-column-title font-bold">
          Nombre
        </span>
        {{ table.name }}
      </td>
      <td>
        <span class="p-column-title">
          Autorizado por
        </span>
        {{ table.customers }}
      </td>
      <td>
        <span class="p-column-title">
          Total
        </span>
        299$
      </td>
      <td>
        <span class="p-column-title">
          Mesero
        </span>
        <div class="flex gap-2 font-bold">
            {{ table.user.username }}
        </div>
      </td>
      <td>
        <span class="p-column-title">
          Area
        </span>
        <div class="flex gap-2">
            {{ table.area.name }}
        </div>
      </td>
      <td>
        <span class="p-column-title">
          Estado
        </span>
        <div class="flex gap-2">
          <p-tag [severity]="getStatusColor(table.tableStatus.name)">
            {{ table.tableStatus.name }}
          </p-tag>
        </div>
      </td>
      <td>
        <span class="p-column-title">
          Acciones
        </span>

        <p-menu #menu [model]="items" [popup]="true" appendTo="body"/>
        <p-button (onClick)="menu.toggle($event); setSelectedTable(table)" icon="pi pi-ellipsis-v"/>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-table>
    <tr>
      <td colspan="8">
        <div class="p-3">
          <p-table [value]="table.area" dataKey="areaId" [scrollable]="true" [scrollHeight]="'200px'">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 10%">
                  <div class="flex align
                  -items-center">
                    Nombre
                  </div>
                </th>
              </ng-template>

              <ng-template pTemplate="body" let-area>
                <tr>
                  <td>
                    <div class="flex align
                    -items-center">
                      hello
                    </div>
                  </td>
                </tr>
              </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Dialog -->
<tables-edit-table
  [display]="display"
  [table]="selectedTable"
  [areas]="areas"
  [onShowDialog]="onShowDialog"
  (displayChange)="closeDialog($event)"
/>

<tables-payment-authorization
  [display]="displayRequestPaymentAuthorization"
  [table]="selectedTable"
  (displayChange)="closeRequestPaymentAuthorizationDialog($event)"
  (authorizePayment)="authorizePayment($event)"
/>

<tables-print-bill
  [display]="displayWhereToPrintTicket"
  (displayChange)="closeWhereToPrintTicketDialog($event)"
/>

<tables-create-order
  [display]="displayCreateAccount"
  (displayChange)="closeCreateOrderDialog($event)"
  [table]="selectedTable"
  [onShowDialog]="onShowCreateOrderDialog"
/>

<!-- TOAST -->
<p-toast position="top-right"></p-toast>
