<!-- Header -->
<div class="flex flex-row gap-3 align-items-center justify-content-between">
  <span class="text-2xl font-bold text-color-secondary">
    Gestion del menú
  </span>
  <p-button
    label="Crear producto"
    icon="pi pi-plus"
    class="p-button-success"
    (click)="showDialog()"
  ></p-button>
</div>

<p-table
  [value]="products"
  styleClass="p-datatable-striped"
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - 200px)'"
  responsiveLayout="stack"
  [paginator]="true"
  [rows]="10"
  [globalFilterFields]="['name, price, isAvailable, description, category']"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 15%">
        <div class="flex align-items-center">
          Nombre
          <p-columnFilter type="text" field="name" display="menu"/>
        </div>
      </th>
      <th style="width: 15%">
        <div class="flex align-items-center">
          Precio
          <p-columnFilter type="numeric" field="price" display="menu"/>
        </div>
      </th>
      <th style="width: 15%">
        <div class="flex align-items-center">
          Disponibilidad
          <p-columnFilter type="boolean" field="isAvailable" display="menu"/>
        </div>
      </th>
      <th style="width: 15%">
        <div class="flex align-items-center">
          Descripción
          <p-columnFilter type="text" field="description" display="menu"/>
        </div>
      </th>
      <th style="width: 15%">
        <div class="flex align-items-center">
          Imagen
          <p-columnFilter type="text" field="image" display="menu"/>
        </div>
      </th>
      <th style="width: 15%">

        <div class="flex align-items-center">
          Categorías
          <p-columnFilter field="categoryId" matchMode="in" display="menu" [showMatchModes]="false"
                          [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [showHeader]="false" [ngModel]="value" [options]="categories" placeholder="Cualquiera"
                             (onChange)="filter($event.value)" optionLabel="name" optionValue="categoryId">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ option.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>

      </th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <p-tag
          [severity]="product.isAvailable ? 'success' : 'danger'"
          [value]="product.isAvailable ? 'Disponible' : 'No disponible'"
        >
        </p-tag>
      </td>
      <td>{{ product.description }}</td>
      <td>
        <img
          [src]="product.imageUrl | serverImageUrl"
          alt="product image"
          class="w-6 h-6 max-w-6 max-h-6"
        />
      </td>
      <td>{{ product.category }}</td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-success mr-2"
          (click)="showDialog(product)"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          class="p-button-danger"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Dialog -->
<p-dialog [header]="currentProduct.productId ? 'Editar producto' : 'Crear producto'"
          [modal]="true" [(visible)]="display"
          (onHide)="closeDialog()"
          [dismissableMask]="true"
          [focusOnShow]="false"
          class="p-fluid">
  <span class="p-text-secondary block mb-5">Proporciona la siguiente información</span>
  <form action="" [formGroup]="productForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3" autocomplete="off">

    <div class="flex align-items-center gap-3">
      <label for="name" class="font-semibold w-6rem">Nombre</label>
      <input
        formControlName="name"
        pInputText id="name"
        class="flex-auto"
        autocomplete="off"
        [ngClass]="getControlClass('name')"
      />
    </div>

    <span
      *ngIf="isValidField('name')"
      class="p-error align-self-center"
    >
      {{ getFieldError('name') }}
    </span>

    <div class="flex align-items-center gap-3">
      <label for="price" class="font-semibold w-6rem">Precio</label>
      <input
        pInputText
        id="price"
        class="flex-auto"
        type="number"
        formControlName="price"
        [ngClass]="getControlClass('price')"
      />
    </div>

    <span
      *ngIf="isValidField('price')"
      class="p-error align-self-center"
    >
      {{ getFieldError('price') }}
    </span>

    <div class="flex align-items-center gap-3">
      <label for="isAvailable" class="font-semibold w-6rem">Disponible</label>
      <p-toggleButton
        formControlName="isAvailable"
        id="isAvailable"
        onLabel="Sí"
        offLabel="No"
        onIcon="pi pi-check"
        offIcon="pi pi-times"
        [ngClass]="getControlClass('isAvailable')"
      ></p-toggleButton>
    </div>

    <span
      *ngIf="isValidField('isAvailable')"
      class="p-error align-self-center"
    >
    {{ getFieldError('isAvailable') }}
  </span>


    <div class="flex align-items-center gap-3">
      <label for="category" class="font-semibold w-6rem">Categoría</label>

      <p-dropdown
        [options]="categories"
        [showClear]="false"
        [filter]="false"
        formControlName="categoryId"
        id="category"
        optionLabel="name"
        optionValue="categoryId"
        placeholder="Selecciona una categoría"
        [ngClass]="getControlClass('categoryId')"
      ></p-dropdown>
    </div>

    <span
      *ngIf="isValidField('categoryId')"
      class="p-error align-self-center"
    >
      {{ getFieldError('categoryId') }}
    </span>

    <div class="flex align-items-center gap-3">
      <label for="description" class="font-semibold w-6rem">Descripción</label>
      <textarea
        pInputTextarea
        id="description"
        class="flex-auto"
        formControlName="description"
        [ngClass]="getControlClass('description')"
      ></textarea>
    </div>

    <span
      *ngIf="isValidField('description')"
      class="p-error align-self-center"
    >
      {{ getFieldError('description') }}
    </span>

    <div class="flex align-items-center gap-3">
      <label for="description" class="font-semibold w-6rem">Imagen</label>
      <p-fileUpload
        mode="basic"
        chooseLabel="Seleccionar imagen"
        chooseIcon="pi pi-upload"
        name="demo[]"
        accept="image/*"
        maxFileSize="1000000"
        #fileUpload
      />
    </div>

    <div class="flex justify-content-end gap-2 mt-4">
      <p-button label="Cancel" severity="secondary" (onClick)="closeDialog()"/>
      <p-button label="Save" type="submit"/>
    </div>
  </form>
</p-dialog>

<!-- TOAST -->
<p-toast position="top-right"></p-toast>
