<!-- Header -->
<div class="flex justify-content-between flex-row">

  <div class="mb-4">
    <ng-container
      *ngFor="let area of areas"
    >
      <h4 class="text-color-secondary">
        {{ area.name }}
      </h4>

      <!-- Table -->
      <div class="flex gap-3 flex-wrap">
        <tables-table-card
          *ngFor="let table of getTablesByArea(area.areaId)"
          [table]="table"
          (onSelectTable)="selectTable($event)"
        />

        <div
          class="p-5 border-round cursor-pointer text-white bg-gray-500"
          (click)="openTableDialog(null, area.areaId)"
        >
          <i class="fas fa-plus"></i>
        </div>
      </div>
    </ng-container>
  </div>

  <tables-table-details
    [table]="selectedTable()"
  />
</div>
