<div class="flex flex-row w-full" style="height: 98vh">
  <!-- SIDENAV -->
  <div
    class="bg-gray-50 md:flex md:flex-column md:w-24rem transition-delay-150"
    [ngClass]="{'hidden': !showNavBar}"
  >
    <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                <span class="inline-flex align-items-center gap-2">

                  <i class="pi pi-book text-2xl text-primary"></i>

                  <span class="font-semibold text-2xl text-primary">SOFT</span>
                </span>
    </div>
    <div class="overflow-y-auto">
      <ul class="list-none p-3 m-0">
        <li>
          <div
            pRipple
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="slidedown"
            leaveToClass="hidden"
            leaveActiveClass="slideup"
            class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple"
          >
            <span class="font-medium">Administrador</span>
            <i class="pi pi-chevron-down"></i>
          </div>
          <ul class="list-none p-0 m-0 overflow-hidden">
            <li>
              <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple no-underline"
                 routerLink="/dashboard"
                 [routerLinkActive]="['text-primary', 'bg-primary-100']"
              >
                <i class="pi pi-chart-pie mr-2"></i>
                <span class="font-medium">Resumen</span>
              </a>
            </li>
            <li>
              <a
                pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple no-underline"
                routerLink="/users/list"
                [routerLinkActive]="['text-primary', 'bg-primary-100']"
              >
                <i class="pi pi-home mr-2"></i>
                <span class="font-medium">Usuarios</span>
              </a>
            </li>
            <li>
              <a
                pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple no-underline"
                routerLink="/roles/list"
                [routerLinkActive]="['text-primary', 'bg-primary-100']"
              >
                <i class="pi pi-key mr-2"></i>
                <span class="font-medium">Roles</span>
              </a>
            </li>
            <li>
              <a
                pRipple
                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
              >
                <i class="pi pi-sitemap mr-2"></i>
                <span class="font-medium">Areas</span>
              </a>
            </li>
            <li>
              <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                <i class="pi pi-th-large mr-2"></i>
                <span class="font-medium">Mesas</span>
              </a>
            </li>
            <li>
              <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                <i class="pi pi-shopping-cart mr-2"></i>
                <span class="font-medium">Órdenes</span>
                <span class="inline-flex align-items-center justify-content-center ml-auto bg-primary border-circle" style="min-width: 1.5rem; height: 1.5rem">3</span>
              </a>
            </li>
            <li>
              <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                <i class="pi pi-cog mr-2"></i>
                <span class="font-medium">Settings</span>
              </a>
            </li>
            <li>
              <a
                pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                (click)="logout()"
              >
                <i class="pi pi-sign-out mr-2"></i>
                <span class="font-medium">Logout</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="flex flex-column w-full p-3">
    <router-outlet>
      <!-- Open menu icon only visible on mobile -->
      <div class="bg-gray-50 p-1 flex align-items-center justify-content-between md:hidden">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-bars"
          class="p-button-rounded p-button-text p-button-sm"
          (click)="toggleNavBar()"
        ></button>
      </div>

    </router-outlet>
  </div>
</div>
