<div class="flex flex-row w-full overflow-auto" style="height: 100vh">
  <!-- SIDENAV -->
  <div
    class="bg-primary-900 md:flex md:flex-column md:w-24rem transition-delay-150"
    [ngClass]="{'hidden': !showNavBar}"
  >
    <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                <span class="inline-flex align-items-center gap-2">

                  <i class="pi pi-book text-2xl text-white"></i>

                  <span class="font-semibold text-2xl text-white">La tia de Kaua</span>
                </span>
    </div>

    <div class="overflow-y-auto">
      <ul class="list-none p-3 m-0">
        <!-- Show username and role -->
        <li class="flex align-items-center justify-content-between p-3">
          <span class="font-medium text-white">{{ currentUser?.username }}</span>
          <span class="font-medium text-white">{{ currentUser?.roles }}</span>
        </li>
        <li>
          <ul class="list-none p-0 m-0 overflow-hidden">
            <li *ngFor="let navItem of navItems">
              <a pRipple
                 class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:bg-primary-700 transition-duration-150 transition-colors p-ripple no-underline"
                 [routerLink]="navItem.link"
                 [routerLinkActive]="['text-primary', 'bg-primary-700']"
              >
                <i class="pi {{ navItem.icon }} mr-2 text-white"></i>
                <span class="font-medium text-white">{{navItem.title}}</span>
              </a>
            </li>
            <li class="mt-auto">
              <hr class="border-t border-primary-700 my-3 w-15rem">
            </li>
            <li>
              <a pRipple
                 class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:bg-primary-700 transition-duration-150 transition-colors p-ripple no-underline"
                 routerLink="/options"
                 [routerLinkActive]="['text-primary', 'bg-primary-700']"
              >
                <i class="pi pi-cog mr-2 text-white"></i>
                <span class="font-medium text-white">Configuración</span>
              </a>
            </li>
            <li class="mt-auto">
              <a
                pRipple
                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:bg-primary-700 transition-duration-150 transition-colors p-ripple"
                (click)="logout()"
              >
                <i class="pi pi-sign-out mr-2 text-white"></i>
                <span class="font-medium text-white">Logout</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="flex flex-column w-full">
    <router-outlet>
      <!-- Open menu icon only visible on mobile -->
      <div class="bg-gray-50 w-full flex align-items-center justify-content-between md:hidden">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-bars"
          class="p-button-rounded p-button-text p-button-sm"
          (click)="toggleNavBar()"
        ></button>
      </div>

    </router-outlet>
  </div>
</div>
