<div class="text-lg bg-primary p-4 flex flex-row bg-black-alpha-800 align-items-center justify-content-center gap-8">
  <h4>
    Crear cuenta
    <br>
    Bienvenido a TiaSoft
  </h4>

  <img
    src="./assets/tiaKaua.jpeg"
    alt="TiaSoft"
    class="w-8rem h-6rem border-round"
  >
</div>

<div class="flex bg-white flex-column gap-3 p-5">

  <input pInputText type="text" placeholder="Nombre completo">
  <input pInputText type="text" placeholder="Correo">
  <input pInputText type="password" placeholder="Contraseña">
  <input pInputText type="password" placeholder="Repetir contraseña">

  <p-button label="Registrarse"></p-button>

  <div class="flex justify-content-end">
    <a routerLink="/auth/login">¿Ya tienes una cuenta?</a>
  </div>
</div>
