<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <p-button
              label="Crear usuario"
              icon="pi pi-plus"
              class="p-button-success"
              (click)="showDialog()"
            ></p-button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table
        [value]="users"
        styleClass="p-datatable-stripped mt-3"
        [paginator]="true"
        [rows]="10"
        responsiveLayout="scroll"
        [rowHover]="true"
        [globalFilterFields]="['username, email, roles']"
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestión de usuarios</h5>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Nombre
                <p-columnFilter type="text" field="username" display="menu" placeholder="Buscar por nombre"></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Correo electrónico
                <p-columnFilter type="text" field="email" display="menu" placeholder="Buscar por email"></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Roles
                <p-columnFilter field="roles" matchMode="contains" display="menu">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect [showHeader]="false" [ngModel]="value" [options]="roles" placeholder="Cualquiera"
                                   (onChange)="filter($event.value)" optionLabel="name" optionValue="code"
                                   appendTo="body"
                    >
                      <ng-template let-option pTemplate="item">
                        <div class="inline-block vertical-align-middle">
                          <span class="ml-1 mt-1">{{ option.name }}</span>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
              </div>
            </th>
            <th style="width: 20%;">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
              <div class="flex gap-2">
                <p-tag *ngFor="let role of user.roles" severity="info">
                  {{ role }}
                </p-tag>
              </div>
            </td>
            <td class="flex gap-2">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-success"
                (click)="showDialog(user)"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-danger"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- Dialog -->
<p-dialog [header]="currentUser.userId ? 'Editar usuario' : 'Crear usuario'"
          [modal]="true" [(visible)]="display"
          (onHide)="closeDialog()"
          [dismissableMask]="true"
>
  <span class="p-text-secondary block mb-5">Actualiza la información</span>
  <form action="" [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3" autocomplete="off">
    <div class="flex align-items-center gap-3">
      <label for="username" class="font-semibold w-6rem">Nombre</label>
      <input
        formControlName="username"
        pInputText id="username"
        class="flex-auto"
        autocomplete="off"
        [ngClass]="getControlClass('username')"
      />
    </div>

    <span
      *ngIf="isValidField('username')"
      class="p-error align-self-center"
    >
      {{ getFieldError('username') }}
    </span>


    <div class="flex align-items-center gap-3">
      <label for="role" class="font-semibold w-6rem">Rol</label>
      <p-multiSelect
        [options]="roles"
        [showHeader]="false"
        formControlName="roles"
        id="role"
        optionLabel="name"
        placeholder="Select roles"
        [ngClass]="getControlClass('roles')"
      />
    </div>

    <span
      *ngIf="isValidField('roles')"
      class="p-error align-self-center"
    >
      {{ getFieldError('roles') }}
    </span>

    <div class="flex align-items-center gap-3">
      <label for="email" class="font-semibold w-6rem">Correo</label>
      <input
        pInputText
        id="email"
        class="flex-auto"
        type="email"
        formControlName="email"
        [ngClass]="getControlClass('email')"
      />
    </div>

    <span
      *ngIf="isValidField('email')"
      class="p-error align-self-center"
    >
      {{ getFieldError('email') }}
    </span>

    <div class="flex align-items-center gap-3">
      <label for="password" class="font-semibold w-6rem">Contraseña</label>
      <input
        pInputText
        id="password"
        class="flex-auto"
        autocomplete="off"
        formControlName="password"
        type="password"
      />
    </div>


    <div class="flex justify-content-end gap-2 mt-4">
      <p-button label="Cancel" severity="secondary" (onClick)="closeDialog()"/>
      <p-button label="Save" type="submit"/>
    </div>
  </form>
</p-dialog>

<!-- TOAST -->
<p-toast position="top-right"></p-toast>

