<div class="card cursor-pointer pt-0 pr-0 pl-0 ">
  <div>
    <img
      [src]="product().imageUrl! | serverImageUrl"
      [alt]="product().name"
      class="border-round"
    />
  </div>

  <div class="p-3 product-description">
      <span class="text-gray-800 italic text-overflow-clip">
        {{ product().name }}
      </span>

    <p class="text-gray-600 text-sm">
      {{ product().description }}
    </p>

    <div>
      <h5>
        {{ product().price | currency }}
      </h5>
    </div>
  </div>
</div>
