<div class="flex bg-gray-50 flex-column gap-2 p-3 md:flex-column justify-content-between items-center border-round-bottom-2xl">
    <span class="text-3xl font-bold text-primary">Menú</span>

  <div class="relative w-full md:w-auto flex align-items-center gap-2">
    <span class="p-input-icon-left w-full">
      <i class="pi pi-search text-primary"></i>
      <input
        type="text" pInputText placeholder="Buscar..." class="w-full md:w-full border-round-2xl"
        (input)="filterProductsByName($any($event.target).value)"
      />
    </span>
  </div>

  <form [formGroup]="billForm">
    <p-dropdown
      formControlName="selectedBill"
      [options]="bills"
      optionLabel="name"
      dataKey="billId"
      [style]="{width: '100%'}"
      [filter]="false"
      (onChange)="selectBill($event.value)"
      [showClear]="true"
      [emptyFilterMessage]="'No se encontraron cuentas'"
    >
    </p-dropdown>
  </form>

  <div class="flex justify-content-between w-full">
    <p-button
      severity="primary"
      icon="pi pi-plus"
      label="Crear Cuenta"
      styleClass="w-full border-round-xl"
      (click)="showCreateBill()"
    >
    </p-button>

    <p-button
      severity="secondary"
      icon="pi pi-pencil"
      label="Editar Cuenta"
      styleClass="w-full border-round-xl"
      (click)="showEditBill()"
    ></p-button>
  </div>
</div>

<div class="p-3 flex gap-2 overflow-hidden flex-column justify-content-center align-items-center">
  <!-- List categories with horizontal scroll -->
  <div class="flex gap-2 overflow-x-auto p-2">
    <button
      class="p-3 flex flex-column border-round-2xl border-1 border-300 align-items-center justify-content-center cursor-pointer p-button p-component"
      [style]="{width: '5rem', height: '6rem'}"
      routerLink="/staff/menu/list"
      queryParamsHandling="merge"
      [queryParams]="{categoryId: 'todo'}"
      [ngClass]="getActiveClass('todo')"
      (click)="filterProducts('todo')"
    >
      <i class="fa-solid fa-utensils text-lg text-primary"></i>
      <p class="text-center text-sm">Todo</p>
    </button>

    <!-- Botones de categorías dinámicas -->
    <button
      pButton
      *ngFor="let category of categories"
      class="p-3 flex category-btn flex-column border-round-2xl border-1 border-300 align-items-center justify-content-center cursor-pointer p-button p-component"
      [style]="{width: '5rem', height: '6rem'}"
      routerLink="/staff/menu/list"
      queryParamsHandling="merge"
      [queryParams]="{categoryId: category.categoryId}"
      [ngClass]="getActiveClass(category.categoryId)"
      (click)="filterProducts(category.categoryId)"
    >
      <i class="{{ category.icon }} text-lg text-primary"></i>
      <p class="text-center text-sm">{{ category.name }}</p>
    </button>
  </div>


  <!-- Products -->
  <!-- Lista de productos con diseño más compacto -->
  <div class="w-full flex flex-column gap-2">
    <p-scrollPanel
      [style]="{width: '100%', height: 'calc(100vh - 30rem)'}"
    >
      <ng-container *ngFor="let product of products">
        <div
          *ngIf="product.visible && billForm.value.selectedBill"
          class="flex justify-content-between align-items-center p-3 border-1 border-300 border-round-2xl gap-3 mt-2"
          [ngClass]="product.isSelected ? 'border-primary-500 border-2 bg-primary-50' : ''"
          (click)="selectProduct(product)"
        >
          <!-- When the product is not selected -->
          <ng-container *ngIf="!product.isSelected">
            <div class="flex justify-content-between align-items-center gap-3">
              <img [src]="$any(product.imageUrl) | serverImageUrl" [alt]="product.name" class="w-3rem h-3rem border-round-2xl shadow-1"/>
              <div class="flex-1">
                <span class="text-600 text-md">{{ product.name }}</span>
              </div>
            </div>
            <span class="text-md font-semibold">{{ product.price | number: '1.0' }} $</span>
          </ng-container>

          <!-- When the product is selected -->
          <ng-container *ngIf="product.isSelected">
            <div class="flex justify-content-between align-items-center gap-3">
              <img [src]="$any(product.imageUrl) | serverImageUrl" [alt]="product.name" class="w-4rem h-4rem border-round-2xl"/>
              <div class="flex flex-column gap-1">
                <span class="text-600 text-md">{{ product.name }}</span>
                <span class="text-md">{{ product.price | number: '1.0' }} $</span>
              </div>
            </div>
            <div class="flex justify-content-between align-items-center gap-3">
              <button
                class="p-button p-button-rounded p-button-secondary p-button-outlined w-2rem flex justify-content-center"
                (click)="decreaseQuantity(product); $event.stopPropagation()"
              >
                <i class="pi pi-minus"></i>
              </button>
              <span class="font-bold">{{ product.quantity }}</span>
              <button
                class="p-button p-button-rounded p-button-secondary p-button-outlined w-2rem flex justify-content-center"
                (click)="increaseQuantity(product); $event.stopPropagation()"
              >
                <i class="pi pi-plus"></i>
              </button>
            </div>
          </ng-container>
        </div>
      </ng-container>

    </p-scrollPanel>

    <!-- IF THERES NO ACCOUNT SELECTED SHOW PLEASE SELECT AN ACCOUNT -->
    <div *ngIf="!billForm.value.selectedBill" class="flex justify-content-center align-items-center gap-2 p-3 border-1 border-300 border-round-2xl">
      <span class="text-600 text-md">Por favor selecciona una cuenta</span>
    </div>
  </div>
</div>

<!-- Superimposed button at the bottom -->
<div
  class="fixed bottom-0 left-0 right-0 bg-transparent p-3 shadow-lg flex justify-content-center items-center gap-3"
  *ngIf="currentOrderInfo.totalProducts > 0"
>
  <p-button
    severity="primary"
    styleClass="p-button-lg w-full text-sm border-round-3xl flex justify-content-between items-center gap-2"
    (onClick)="processOrder()"
  >
    <span class="font-light">
      Proceder nueva orden
    </span>

    <div class="flex gap-2 items-center">
      <span class="font-light">
      {{ currentOrderInfo.totalProducts }} Items
      </span>

      <span class="font-bold">
      {{ currentOrderInfo.totalPrice | number: '1.0' }} $
      </span>

      <i class="fa-light fa-arrow-right"></i>
    </div>
  </p-button>
</div>

<menu-create-bill
  [tableId]="tableId"
/>

<p-toast position="top-right"></p-toast>
